/* DON'T TOUCH */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    --bold: 700;
    --demi: 600;
    --regular: 300;
    --black: #323232;
    --silver: #AFAFAF;
    --white: #ffffff;
    --dark-black: #000000;
    --mercury: #e1e1e1;
    --alabaster: #fafafa;
    --error: #D22D2D;
    --brown: #42280E;

    --sec-header-font-d: 2.25rem;
    --sec-header-lh-d: 2.75rem;
    --sec-header-font-m: 1.5rem;
    --sec-header-lh-m: 2rem;

    --sub-header-font-d: 1.5rem;
    --sub-header-lh-d: 2rem;
    --sub-header-font-m: .875rem;
    --sub-header-lh-m: 1.375rem;

    --lbl-btn-font-d: .75rem;
    --lbl-btn-lh-d: 1.25rem;
    --lbl-btn-font-m: .625rem;
    --lbl-btn-lh-m: 1.25rem;

    --pad-pre-head-d: 48px;
    --pad-post-head-d: 36px;
    --pad-pre-head-m: 24px;
    --pad-post-head-m: 16px;

    --margin-between-components-d: 36px;
    --margin-between-components-m: 16px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[alt=logo] {
    --logo-max-height: 20px;
    --logo-max-width: 120px;
    width: var(--logo-max-width);
    background-color: var(--black);
    margin: -0.25rem;

}


body {
    font-family: 'Figtree', sans-serif;
    background-color: var(--white);
    color: var(--black);
    min-width: 20rem;

    @media(min-width: 768px) {
        background-color: var(--brown);

        >* {
            max-width: 64rem;
            margin: 0 auto;
            width: 100%;
        }
    }

}

nav {
    --nav-font-d: .875rem;
    --nav-lh-d: 1.25rem;
    --nav-font-m: .8125rem;
    --nav-lh-m: 1.125rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.125rem 0 0.125rem;


    @media(min-width: 768px) {
        padding: 0 2.25rem;
        flex-direction: row;
    }

    >a {
        padding: 0;
        margin: 0;
    }



    >ul {
        width: 100%;
        list-style: none;
        display: flex;

        @media(min-width: 768px) {
            gap: 3rem;
            margin: 0 2rem;
        }

        >li {

            width: 50%;
            margin: 0;
            padding: 0;

            @media(min-width: 768px) {
                width: auto;
            }


            >a {
                padding: 0 0 1rem 0;
                display: inline-block;
                width: 100%;
                color: var(--mercury);
                text-decoration: none;
                text-align: center;
                font-weight: var(--regular);
                font-size: var(--nav-font-d);
                line-height: var(--nav-lh-d);
                letter-spacing: .0125rem;

                @media (min-width: 768px) {
                    padding: 1.5rem 0;
                    margin-bottom: -0.5rem;

                }

                &:hover {
                    color: var(--white);
                    border-bottom: 4px solid var(--white);
                }

                &.active {
                    color: var(--white);
                    font-weight: var(--bold);
                    border-bottom: 4px solid var(--white);
                }
            }
        }
    }



}

footer {
    --footer-font-d: .875rem;
    --footer-lh-d: 1.25rem;
    --footer-font-m: .8125rem;
    --footer-lh-m: 1.125rem;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: var(--margin-between-components-m);

    @media (min-width: 768px) {
        padding: 1.5rem var(--margin-between-components-d);
    }

    >div {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 3rem;
        }

        &.top {
            gap: 0;
            padding: 0.5rem 0;
            margin-bottom: 0.5rem;

            @media (min-width: 768px) {
                margin-bottom: 0;
                padding: 0;
                gap: 1.5rem;
            }

            >h3 {
                font-weight: var(--demi);
                letter-spacing: .1rem;
                font-size: var(--sec-header-font-m);
                line-height: var(--sec-header-lh-m);
                margin-bottom: 1rem;

                @media (min-width: 768px) {
                    margin-bottom: 0;
                    font-size: var(--sec-header-font-d);
                    line-height: var(--sec-header-lh-d);
                }
            }

            >.socials {
                display: flex;
                gap: 2rem;
                margin-bottom: 0.5rem;

                @media (min-width:768px) {
                    margin-bottom: 0;
                }

                >a>img {
                    width: 100%;
                    height: 24px;
                }
            }

            >.logo {
                margin-top: 0.25rem;
                margin-left: auto;
                margin-right: 1.5rem;

                >img {

                    @media (max-width: 767px) {
                        display: none;
                    }

                    @media (min-width:768px) {
                        display: inline-block;
                    }
                }

            }

        }

        &.mid {
            gap: 1.25rem;

            @media (min-width: 768px) {

                padding-top: 1rem;
                padding-bottom: 1rem;
                gap: 2rem;

            }

            >div {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media (min-width: 768px) {}

                >div {
                    &:first-of-type {
                        >p {
                            font-weight: var(--bold);
                            color: var(--alabaster);
                            letter-spacing: .0375rem;

                            @media (min-width: 768px) {
                                font-weight: var(--regular);
                            }
                        }
                    }

                    >p {
                        font-size: var(--footer-font-m);
                        line-height: var(--footer-lh-m);

                        @media (min-width: 768px) {
                            font-size: var(--footer-font-d);
                            line-height: var(--footer-lh-d);
                        }



                        >a {
                            text-decoration: none;
                            color: inherit;

                            &:hover {
                                color: var(--silver);
                            }
                        }
                    }
                }

            }
        }

        &.btm {
            padding-top: 1rem;
            padding-bottom: 1rem;

            >img {
                @media (min-width:768px) {
                    display: none;
                }
            }

            >p {
                font-size: var(--footer-font-m);
                line-height: var(--footer-lh-m);

                @media (min-width: 768px) {
                    font-size: var(--footer-font-d);
                    line-height: var(--footer-lh-d);
                }
            }
        }
    }

}

/* DON'T TOUCH ABOVE THIS LINE */


main {
    --body-font-d: .875rem;
    --body-lh-d: 1.375rem;
    --body-font-m: .8125rem;
    --body-lh-m: 1.125rem;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;

    >section {

        padding: var(--margin-between-components-m);

        @media (min-width:768px) {
            padding: var(--margin-between-components-d);
        }

        >h3 {
            font-weight: var(--bold);
            font-size: var(--sec-header-font-m);
            line-height: var(--sec-header-lh-m);
            padding-bottom: var(--pad-post-head-m);

            @media(min-width: 768px) {
                font-size: var(--sec-header-font-d);
                line-height: var(--sec-header-lh-d);
                padding-bottom: 1rem;
            }
        }

        &.about {
            >.quote {
                display: flex;
                flex-direction: column;

                @media(min-width: 768px) {
                    padding: 0 2rem;
                }

                >img {
                    width: 100%;
                    min-height: 20vw;
                    max-height: 60%;
                    padding: 0 1rem;

                    @media(min-width: 768px) {
                        padding: 1rem 2rem;
                    }
                }

                >p {
                    letter-spacing: 0.0375rem;
                    font-weight: var(--bold);
                    font-size: var(--sub-header-font-m);
                    line-height: var(--sub-header-lh-m);
                    padding: 1rem;

                    @media (min-width: 768px) {
                        padding: 0.5rem 2rem;
                        width: 90%;
                        font-size: var(--sub-header-font-d);
                        line-height: var(--sub-header-lh-d);
                    }

                    &:last-of-type {
                        font-weight: var(--demi);
                        padding-top: 0;
                        padding-bottom: 0;

                        @media (min-width: 768px) {
                            padding-top: 0.5rem;
                            padding-bottom: 0.5rem;
                            font-size: var(--body-font-d);
                            line-height: var(--body-lh-d);
                        }
                    }
                }

            }

            >.bio {
                padding: 1.5rem 1rem;

                @media (min-width: 768px) {
                    padding-top: 0.75rem;
                    padding-right: 2rem;
                    padding-left: 2rem;
                    padding-bottom: 0.75rem;

                }

                >h4 {
                    padding: 0.25rem 0;
                    font-weight: var(--bold);
                    font-size: var(--sub-header-font-m);
                    line-height: var(--sub-header-lh-m);
                    letter-spacing: 0.0125rem;

                    @media (min-width: 768px) {
                        font-size: var(--sub-header-font-d);
                        line-height: var(--sub-header-lh-d);
                        padding-left: 2rem;
                        padding-right: 2rem;
                        padding-bottom: 0.75rem;
                    }
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;

                    @media (min-width:768px) {
                        flex-direction: row;
                        gap: 1.75rem;
                        padding-left: 2rem;
                        padding-right: 2rem;

                    }

                    >p {
                        font-weight: var(--regular);
                        font-size: var(--body-font-m);
                        line-height: var(--body-lh-m);
                        letter-spacing: 0.0125rem;

                        >span {
                            font-style: italic;
                        }

                        @media (min-width: 768px) {
                            font-size: var(--body-font-d);
                            line-height: var(--body-lh-d);
                        }
                    }
                }
            }
        }

        &.gallery {
            background-color: var(--alabaster);

            >.photos {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                padding: 1rem;
                gap: 1rem;
                max-width: 35rem;
                margin: 0 auto;

                @media (min-width: 768px) {
                    max-width: 56rem;
                    gap: 0;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 0 2rem;
                }

                >img {
                    width: 100%;
                    filter: grayscale(100%);
                    transition: all .2s ease-in-out;

                    @media (min-width: 768px) {
                        width: 33.33%;
                        padding: 0.5rem;
                    }

                    &:hover {
                        filter: none;
                        transform: scale(1.05);
                    }
                }
            }
        }

        &.comments {
            display: flex;
            flex-direction: column;

            @media (min-width: 768px) {
                max-width: 44rem;
                margin: 0 auto;
                padding-left: 2.25rem;
                padding-right: 2.25rem;
            }

            @media (min-width: 1280px) {
                max-width: 40rem;
            }

            >.input {
                display: flex;
                justify-content: center;
                border-bottom: 1px solid var(--mercury);
                gap: 1rem;

                @media (min-width: 768px) {
                    padding: 1rem 0;
                    margin: 0 1rem;
                }

                >img {
                    margin: 1rem 0;
                    width: 2.25rem;
                    height: 2.25rem;

                    @media (min-width: 768px) {
                        width: 3rem;
                        height: 3rem;
                    }
                }


                >form {
                    --input-font-d: .875rem;
                    --input-lh-d: 1.375rem;
                    --input-font-m: .8125rem;
                    --input-lh-m: 1.125rem;
                    --form-field-height-m: 2.25rem;
                    --form-field-height-d: 3rem;
                    --form-field-width: 100%;
                    --form-field-border-radius: 4px;
                    --form-field-padding-m: .75rem;
                    --form-field-padding-d: 1rem;
                    --form-field-border-default: 1px solid var(--mercury);
                    --form-field-border-focus: 1px solid var(--black);
                    --form-field-border-error: 1px solid var(--error);
                    font-family: inherit;

                    >label {

                        color: var(--silver);
                        font-weight: var(--demi);
                        font-size: var(--lbl-btn-font-m);
                        line-height: var(--lbl-btn-lh-m);

                        @media (min-width: 768px) {
                            font-size: var(--lbl-btn-font-d);
                            line-height: var(--lbl-btn-lh-d);
                        }

                        >[type=text],
                        >textarea {
                            margin-top: 4px;
                            margin-bottom: 1rem;
                            background-color: var(--alabaster);
                            width: var(--form-field-width);
                            min-height: var(--form-field-height-m);
                            border: var(--form-field-border-default);
                            border-radius: var(--form-field-border-radius);
                            resize: none;
                            font-family: inherit;
                            font-weight: 400;
                            font-size: var(--input-font-m);
                            line-height: var(--input-lh-m);
                            letter-spacing: 0.03125rem;
                            color: var(--dark-black);
                            padding: .375rem .75rem;

                            &:focus {
                                outline: none;
                                border: var(--form-field-border-focus);
                            }

                            &.error {
                                border: var(--form-field-border-error);
                            }

                            @media (min-width: 768px) {
                                min-height: var(--form-field-height-d);
                                font-size: var(--input-font-d);
                                line-height: var(--input-lh-d);
                            }
                        }
                    }

                    >[type=submit] {
                        --button-height: 40px;
                        --button-min-width: 150px;
                        --button-min-pad-left-right: 32px;
                        --button-width-mobile: 100%;
                        --button-corner-radius: 4px;
                        margin-bottom: 1rem;
                        width: var(--button-width-mobile);
                        font-family: 'Figtree', sans-serif;
                        background-color: var(--black);
                        color: var(--mercury);
                        font-size: 1rem;
                        line-height: 1.25rem;
                        font-weight: 400;
                        height: var(--button-height);
                        border-radius: var(--button-corner-radius);
                        border: none;
                        outline: none;
                        cursor: pointer;


                        &:hover {
                            color: var(--white);
                            background-color: var(--dark-black);
                        }

                        @media (min-width: 768px) {
                            float: right;
                            max-width: var(--button-min-width);
                            padding-left: var(--button-min-pad-left-right);
                            padding-right: var(--button-min-pad-left-right);
                        }


                    }
                }
            }

            >.output {
                --input-font-d: .875rem;
                --input-lh-d: 1.375rem;
                --input-font-m: .8125rem;
                --input-lh-m: 1.125rem;

                @media (min-width: 768px) {
                    padding: 1rem 0;
                    margin: 0 1rem;
                }

                >ul {

                    >li {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        padding-bottom: 1rem;
                        padding-top: 1rem;
                        border-bottom: 1px solid var(--mercury);

                        >img:first-of-type {
                            width: 2.25rem;
                            height: 2.25rem;

                            @media (min-width: 768px) {
                                width: 3rem;
                                height: 3rem;
                            }
                        }

                        >div {
                            flex-grow: 1;
                            display: flex;
                            flex-wrap: wrap;
                            /* width: 100%; */
                            /* max-width: 33rem; */

                            >p {
                                font-size: var(--input-font-m);
                                line-height: var(--input-lh-m);
                                color: var(--black);
                                width: 50%;


                                &:first-of-type {
                                    /* flex-grow: 1; */
                                    text-align: left;
                                    text-transform: capitalize;
                                    font-weight: var(--demi);
                                    /* overflow: hidden; */
                                    /* white-space: nowrap; */
                                    /* text-overflow: ellipsis; */
                                }

                                &:nth-of-type(2) {
                                    text-align: right;
                                    color: var(--mercury);
                                    font-weight: 400;
                                }

                                &:last-of-type {
                                    /* word-wrap: break-word; */
                                    flex-grow: 1;
                                    /* width: 100%; */

                                    padding-top: 0.125rem;
                                    font-weight: var(--regular);
                                }

                                @media (min-width: 768px) {
                                    font-size: var(--input-font-d);
                                    line-height: var(--input-lh-d);
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}